
#main{
  height: 100vh;
  width: 100%;
  background: rgb(243, 216, 214);
  transition: .3s;
}

#intro-container{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 15% 70% 15%;
}

 /* #typing{
   padding: 0px;
  text-align: center;
  position: relative;
  grid-row: 2;
  grid-column: 2;
  height: 4.5rem;
  width: 110%;
  justify-self: center;
  align-self: center;
  font-size: 2.5rem;
  background: white;
  border: 1px solid black;
  box-shadow: 3px 3px 4px 0px black;
  border-radius: 2px;
} */
/*
#typing::after{
  content: "";
  position: absolute;
  border-right: 2px solid black;
  height: 3.5rem;
  top: 8%;
  animation: blink .7s infinite;
} */

/* @keyframes blink {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} */

/* #startButton{
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
} */

#pageTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  grid-row: 1;
  grid-column: 2;
  margin-top: 5px;
  font-weight: 700;
  color: black;
  font-size: 1.6rem;
}

#navList{
  position: relative;
  visibility: visible;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 50px;
  margin-top: 60px;
  margin-left: 0px;
  font-family: 'Courier New', Courier, monospace;
  transition: .5s;
}

#navList .buttonFont{
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s;
}

#navList .buttonFont:hover{
  font-size: 1.5rem !important;
  font-weight: 900 !important;
}

#dropDown{
  display: flex;
  flex-direction: column;
  gap: 2px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  width: 36%;
  right: 31.5%;
  top: 112px;
}

.dropPosition:hover{
  font-size: 1.05rem;
  font-weight: 800 !important;
}

.dropPosition{
  height: 50px;
  text-align: center !important;
  padding-top: 15px !important;
}

.dropPosition p{
  font-size: .8rem;
}

@media screen and (max-width: 413px) {
  .dropPosition{
    height: 65px;
  }
}

#container{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 50px;
  border-bottom: 1px white solid;
  margin-bottom: 30px;
}

#container span{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

#author-wrapper{
  padding: 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 1px;
  height: 90vh;
  max-height: 550px;
  width: 70%;
  max-width: 300px;
  background: white;
}

@media screen and (max-width: 1150px) {
  #container{
    margin-bottom: 50px;
  }
}

#image-container{
  margin: auto;
  padding-top: 5px;
  height: 39%;
  width: 99.4%;
  border-bottom: black solid 2px;
  background: rgb(225, 228, 243);
}

#author-image-wrapper{
  width: 200px;
  height: 200px;
  margin-top: 0px;
  background-image: url(./images/Me.JPG);
  background-size: cover;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 0px 0px 2px 2px;
}

#author-description-wrapper{
  text-align: justify;
  margin-top: 20px;
  width: 100%;
}

#goal-wrapper{
  padding: 0px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 1px;
  height: 90vh;
  max-height: 550px;
  width: 70%;
  max-width: 300px;
  background: white;
}

#title-container{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 2rem;
  width: 90%;
  border-bottom: 1px solid black;
  color: black;
  margin-top: 20px;
  line-height: 35px;
}

#goal-description-wrapper{
  margin-top: 20px;
  text-align: justify;
}